.conteneur {
    /* margin-left: -6px; */
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .gauche {
    flex: 1; /* Prend autant d'espace que possible */
    background-color: white;
    max-width: 70%;
    border : 1px solid #ccc;
    border-radius: 4px 0 0 4px;
     /* Couleur rouge pour la div gauche */
  }
  
  .droite {
    flex: 0.5; /* Prend 80% de l'espace disponible, ajustez selon vos besoins */
    background-color: white; /* Couleur bleue pour la div droite */
  }
  
  .composant-gauche,
  .composant-droite {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* Ajoutez d'autres styles selon vos besoins pour la disposition verticale des enfants */
  }
  .messagate
  {
    overflow-y: scroll;
    max-height: 100vh;
  }


  .msg-section
  {
    flex-direction: column;
    display: flex;
    overflow-y: scroll;
    max-height: 100vh;
  }