.cin
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #121111;
    padding: 10px;
}

.chat
{
    height: 100%;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    padding: 10px;
    background: linear-gradient(65.87deg, #173256 20.93%, #0F597B 92.75%);
}

.chat_container
{
    height: 100%;
    display: grid;
    grid-template-columns: 438px 1fr;
}

/* .typing
{
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    padding: 10px;
} */
