.chat-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: green; /* Blue background color, you can adjust as needed */
    color: #fff; /* White text color */
  }
  
  .profile-image {
    width: 50px; /* Adjust the width of the profile image */
    height: 50px; /* Adjust the height of the profile image */
    border-radius: 50%; /* Make it circular */
    margin-right: 16px; /* Add some spacing between the image and the friend info */
  }

  .friend-name {
    font-size: 18px;
    font-weight: bold;
  }
  .icons-container
  {
    padding: inherit;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .game
  {
    cursor: pointer;
  }

  .block
  {
    cursor: pointer;
  }
  .profil
  {
    cursor: pointer;
  }
  .blank
  {
    width: 15px;
  }