.chat-header-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: green; /* Blue background color, you can adjust as needed */
    color: #fff; /* White text color */
  }
  
  .profile-image {
    width: 50px; /* Adjust the width of the profile image */
    height: 50px; /* Adjust the height of the profile image */
    border-radius: 50%; /* Make it circular */
    margin-right: 16px; /* Add some spacing between the image and the friend info */
  }
  
  .friend-info {
    display: flex;
    flex-direction: column;
  }
  
  .friend-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .options-icons
  {
    display: flex;
    flex-direction: column;
  }