.chat-header-container {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  /* max-width: 300px; */
}

.user-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  /* Add the following line */
  border: 1px solid #166386;
}

.user-button img
{
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
  
  .profile-image {
    width: 50px; /* Adjust the width of the profile image */
    height: 50px; /* Adjust the height of the profile image */
    border-radius: 50%; /* Make it circular */
    margin-right: 16px; /* Add some spacing between the image and the friend info */
  }

  .friend-name {
    font-size: 18px;
    font-weight: bold;
    max-width: 800px;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds an ellipsis (...) at the end of the text if it overflows the container */
  }
  .icons-container
  {
    padding: inherit;
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .game
  {
    cursor: pointer;
  }

  .block
  {
    cursor: pointer;
  }
  .profil
  {
    cursor: pointer;
  }
  .blank
  {
    width: 15px;
  }