@font-face {
  font-family: 'Raleway';
  src: url('../../assets/fonts/Raleway.ttf') format('truetype');
}

:root {
  font-family: 'Raleway';
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root 
{
  height: 100%;
}
/* ChargeVector Regular */
@font-face {
  font-family: 'ChargeVector';
  src: url('../fonts/ChargeVector-PKldB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ChargeVector Bold */
@font-face {
  font-family: 'ChargeVector';
  src: url('../fonts/ChargeVectorBlack-7BKqV.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

/* ChargeVector Italic (if applicable) */
@font-face {
  font-family: 'ChargeVector';
  src: url('../fonts/ChargeVectorBold-mLyD9.ttf') format('truetype');
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: 'ChargeVector';
  src: url('../fonts/ChargeVectorThin-d9qdR.ttf') format('truetype');
  font-weight: Thin;
  font-style: normal;
}

body 
{
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  background-color: rgb(17, 7, 7);
}
