

.message-container {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 200px;
  margin-top: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 8px;
  max-width: 100vw;
  width: fit-content;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.message-menu {
  position: absolute;
  top: calc(-100% - 20px);
  left: 23px;
  background-color: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: 0px solid #555;
  border-radius: 10px;
  padding: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 1px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 1px;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for transparency */
  backdrop-filter: blur(20px);
  /* border: 1.5px solid #000001; */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.message-menu:hover{
  /* background-color: #bab9b9; */
  border-radius: 8px;
  /* border: 1.5px solid #000001; */
}



.menu-option{
  font-family: 'inter';
  font-size: medium;
  display: flex;
  align-items: stretch;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;/* Add a smooth transition effect */
}

.menu-option:hover{
  background-color: rgb(199, 199, 199);
  border-radius: 8px;
}
.option-5min{
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;/* Add a smooth transition effect */
}


.menu-click {
  display: inherit;
  width: auto;
  position: relative;
  cursor: pointer;
}


  
  .sender-image {
    margin-bottom: auto;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 6px;
  }
  .message-text {
    padding: 6px;
    border-radius: 18px;
    font-size: 16px;
    margin-right: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* overflow: hidden; */
    max-width: 750px; /* Adjust this value as needed */
    display: -webkit-box;
    flex-shrink: 1;
    -webkit-box-orient: vertical;
  }
   
.message-container.friend-message {

  flex-direction: row; /* Reverse the direction for friend messages */
}
.message-container.own-message
{
  align-self: self-end;
  flex-direction: row-reverse;
}

.message-container.own-message .message-text {
  font-family: initial;
  /* height: 22px; */
  /* max-width: 100px; */
  background-color: #0F597B;
  /* overflow-wrap: break-word; Allows word wrapping for long text */
  /* word-wrap: break-word; */
}

/* Styles for friend messages */
.message-container.friend-message .message-text {
  font-family: initial;
  
    /* height: auto; */
    color: black;
    background-color: #FFBCB6; /* Change color as needed */
}