.message-container {
    display: flex;
    align-items: center;
    color: #fff; /* White text color */
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
    max-width: 70%; /* Adjust the max-width as needed */
    width: fit-content;
  }
  
  .profile-image {
    width: 40px; /* Adjust the width of the profile image */
    height: 40px; /* Adjust the height of the profile image */
    border-radius: 50%; /* Make it circular */
    margin-right: 8px; /* Add some spacing between the image and the text */
  }
  
  .message-text {
    padding: 5px;
    border-radius: 8px;
    background-color: green;
    font-size: 16px;
    flex-grow: 1
  }
  