.message-input-container
{
  /* align-self: flex-end; */
  margin-top: auto;
}
  
  .inputfield {
    display: flex;
    /* width: 54vw; */
    /* flex-grow: 1; */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  
  .inputsend
  {
    margin-right: 8px;
    width: 90%;
  }