.chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11vh;
    width: fit-content;
  }
  
  .chat-text {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 2px;
    border-radius: 8px;
    background-color: green;
  }
  