/* Add or modify in the styles.css file */
.button-container {
    display: flex;
    width: fit-content;
    height: 5%;
  }
  
  .button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .button:active {
    background-color: #28a745;
    color: #fff;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:last-child {
    margin-left: 10px;
  }
  