@keyframes slideIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -20%);
    }
  }
  
  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translate(-50%, -20%);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%);
    }
  }

  /* .notif-container.appear {
    animation: slideIn 0.5s ease-in-out forwards;
  }
  
  .notif-container.disappear {
    animation: slideOut 0.5s ease-in-out forwards;
  } */
.notif-container
{
    position: fixed;
    transition: opacity 0.3s ease-in-out;
    top: 10%;
    left: 58%;
    transform: translate(-50%, -20%);
    z-index: 1000;
    animation: slideIn 0.5s ease-in-out;
}

.notifmacontainer
{
    /* display: none; */
    position: fixed;
    transition: opacity 0.3s ease-in-out;
    top: 10%;
    left: 58%;
    transform: translate(-50%, -20%);
    z-index: 1000;
    animation: slideOut 0.5s ease-in-out;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
}

.notification-button:hover {
    transform: scale(1.05);
}

.notification-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-name, .notification-text {
    font-weight: bold;
    margin-right: 10px;
    color: #45a049;
}

.notification-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.notification-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
.notification-button-decline {
    background-color:  #ff4040;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
}

.notification-button-decline:hover {
    background-color: red;
    transform: scale(1.05);
}