.sidebar
{
  background: linear-gradient(65.87deg, #173256 20.93%, #0F597B 92.75%);
  display: flex;
  flex-direction: column;
  
}

.main
{
  background: rgba(15, 89, 123, 1);


}
.logo
{
  width: 100%;
  flex : 1;
  display: flex;
  justify-content: center;
  align-items: center;


}
.logo img
{
  width: 278px;
  height: 222px;
}

.ftlogo img
{
  width: 120px;
  height: 120px;
}


.signin button
{

  background-color: rgba(15, 89, 123, 1);
  border: none;
  text-align: center;
  font-family: 'inter';
  font-size: 20px;
  cursor: pointer;
  width: 242px;
  height: 52px;
  border-radius: 10px;
}

.signin
{
  flex : 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  row-gap: 45px;

}

.signin button:hover
{
   background-color: rgba(28, 136, 145, 1);
   box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}



.raketa img
{
  height: 100vh;
  float: right;
  /* width: 100%; */
  /* margin: 50px; */
  /* padding: 0; */ 
}
